@import url("https://fonts.googleapis.com/css?family=Open+Sans") body, html {
    height: 100%;
    width: 100%;
}

body,
html {
    height: 100vh;
    margin: 0;
    font-family: Roboto;
}

.landing-component {
    /* The image used */
    background-image: url(../background2.jpg);

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
